* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Sans-serif";
    color: white;
}

:root {
    --mainColor: #F2E3D5;
    --black: #404040;
    --red: #F22738;
    --green: #3B942C;
    --blue: #1B6FFF;
    --doc: #F2DCB3;
    --docshadow: #BFA980;
    --backgroundGradient: linear-gradient(to bottom right, #D9C9BA, #ffa047);
    --blackGradient: linear-gradient(to bottom right, #404040, #262626);
}

body {
    background-image: url(/resources/gradientbackground2rotated.png);
    background-size: auto 100%;
    min-height: 100vh;
    background-repeat: space;
    margin-top: 2%;
}

a {
    font-size: 2vw;
}

p {
    font-size: 2vw;
    color: white;
    align-self: center;
    padding: 2%;
}

h2 {
    font-size: 3vw;
    padding-top: 2%;
    padding-left: 2%;
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-decoration-color: var(--blue);
}

h3 {
    font-size: 2vw;
    padding-top: 2%;
    padding-left: 2%;
}

.errorPDF {
    color: green; 
    font-size: larger; 
    color: white; 
    background-color: #1B6FFF; 
    border-radius: 1vh;
    padding: 1vh;
    margin-left: 25%;
}
/*------------------------------------------------------------------------------------------*/

/*NAVBAR*/
.navbar {
    position: static;
    top: 0;
    width: 100%;
    color: white;
    padding: 1rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: 0.5s ease all;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20em;
    color: var(--red);
    transition: background-color 0.5s ease;
}

.thispage {
    background-color: var(--red);
    border-radius: 20em;
    box-shadow: 0 0 100px grey;
}
/*------------------------------------------------------------------------------------------*/


/*HOME*/
.contentBackground {
    background-image: var(--blackGradient);
    border-radius: 10px;
    margin: 2% 2% 0%;
    height: fit-content;
    box-shadow: 0px 0px 25px var(--black);
}

.mainContent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentBox {
    margin: 4%;
    width: 1fr;
    height: auto;
}

.contentBackground p {
    font-weight: 100;
}
/*------------------------------------------------------------------------------------------*/


/*CONTACT*/
.mainContactContent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    margin: 1vw;
    padding-bottom: 1vw;
}

.contactBox img {
    width: 4vw;
}

.invert {
    filter: invert(100%);
}

.contactBox {
    padding: 1vw;
    margin-bottom: 10%;
}

.contactBox a {
    color: var(--blue);
    text-decoration: none;
    border-radius: 2em;
    padding: 0.5em;
}

.contactBox a:hover {
    background-color: var(--blue);
    color: var(--mainColor);
    transition: 0.5s ease all;
}

.contactBox a::before {
    content: "\2192";
    margin-right: 2em;
    color: #3B942C;
    font-size: larger;
}
/*------------------------------------------------------------------------------------------*/

/*PROJECTS*/
.projectsContent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2vh;
}

.tabBox button {
    font-size: 2vw;
    font-weight: bold;
    background-color: var(--doc);
    cursor: pointer;
    border-style: none;
    border-radius: 1vh 1vh 0 0;
    padding: 1% 6%;
    color: var(--black);
    transition: 0.3s;
}

.tabBox button:hover {
    color: var(--red);
}

.project {
    display: none;
    border-top: none;
    background-color: var(--doc);
    border-radius: 0 1em 1em 1em;
    margin-bottom: 1vw;
    padding-bottom: 2vh;
}

.tab {
    box-shadow: inset 0 -2px 5px var(--docshadow);
}

.activeP {
    box-shadow: none;
}

.pdf {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.project p {
    color: var(--black);
}

.project h2 {
    color: var(--black);
}

.project h3 {
    color: var(--black);
}
/*------------------------------------------------------------------------------------------*/

/*DEVICE CONTROL*/
@media (max-width: 768px) {
    .mainContent {
        grid-template-columns: 1fr;
    }

    /*ALL*/
    a {
        font-size: 3vw;
    }

    .navbar a {
        padding: 0.5rem 1.5rem;
    }
    
    p {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 5vw;
    }
    
    h3 {
        font-size: 5vw;
    }

    .contentBox {
        margin: 1%;
        width: 1fr;
        height: auto;
    }

    /*CONTACTS*/
    .contactBox a {
        font-size: 3vw;
    }

    /*PROJECTS*/
    .tabBox button {
        font-size: 3vw;
        padding: 1% 6%;
    }
}

@media (min-width: 1100px) {
    /*ALL*/
    a {
        font-size: 1.5vw;
    }
    
    p {
        font-size: 1.5vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }
    
    h3 {
        font-size: 1.8vw;
    }

    /*PROJECTS*/
    .tabBox button {
        font-size: 1.5vw;
    }
}