* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Sans-serif";
    color: white;
}

:root {
    --mainColor: #D7CFC2;
    --black: #0D0D0D;
    --backgroundGradient: linear-gradient(to bottom right, #D9C9BA, #F2E3D5);
}

body {
    background-image: var(--backgroundGradient);
    background-size: 100%;
    min-height: 100vh;
    background-repeat: space;
    margin-top: 50px;
}

p {
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    padding: 1rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.5s ease all;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #F22738;
    transition: background-color 0.5s ease;
}

.thispage {
    background-color: #F22738;
    border-radius: 20px;
}

.mainContent {
    margin: 5% 2% 0%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentP {
    width: 2fr;
    grid-row-start: 1;
    color: white;
    font-weight: 100;
    align-self: center;
    text-align: center;
}

.contentBox {
    margin: 4%;
    width: 1fr;
    height: 400px;
}

#box1 {
    grid-column-start: 1;
}

#box2 {
    grid-column-start: 2;
}

#box3 {
    grid-column-start: 1;
}

#box4 {
    grid-column-start: 2;
}

@media (max-width: 768px) {
    
}