* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Helvetica", "Sans-serif";
}

:root {
    --mainColor: #F2E3D5;
    --black: #404040;
    --red: #F22738;
    --green: #3B942C;
    --blue: #1B6FFF;
    --yellow: #F2C53D;
    --doc: #F2DCB3;
    --docshadow: #BFA980;
    --backgroundGradient: linear-gradient(to bottom, #1B6FFF, #1659CC);
    --blackGradient: linear-gradient(to bottom, #404040, #262626);
    --whiteGradient: linear-gradient(to bottom, whitesmoke, lightgrey);
}

body {
    background-image: var(--blackGradient);
    background-size: auto 100%;
    min-height: 200vh;
    background-repeat: space;
    margin-top: 2%;
    overflow-x: hidden;
}

a {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    align-self: center;
}

h2 {
    font-size: 3em;
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-decoration-color: var(--yellow);
}

h3 {
    font-size: 2vw;
    padding-top: 2%;
    padding-left: 2%;
}
/*------------------------------------------------------------------------------------------*/


/*NAVBAR*/
.navbar {
    position: static;
    top: 0;
    width: 100%;
    color: white;
    padding: 1rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: 0.5s ease all;
}

.navbar a:hover {
    background-color: var(--red);
    box-shadow: 5px 5px black;
    color: white;
    transition: background-color 0.5s ease all;
}

.navbar .thispage {
    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 5px 5px black;
}

.thispage em {
    color: var(--black);
}
/*------------------------------------------------------------------------------------------*/


/*HOME*/
.contentBackground {
    padding: 0.5em;
    margin: 2% 2% 0%;
    height: fit-content;
}

.mainContent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    align-content: center;
}

.contentBox {
    margin: 4%;
    width: 1fr;
    height: auto;
}

.contentBackground p {
    font-weight: 100;
}

#hireBox {
    box-shadow: 5px 5px white;
    padding: 1vh 2vh;
    background-color: var(--green);
    text-decoration: none;
    font-size: 1em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4%;
    grid-row-gap: 4%;
    justify-content: center;
}

.gridItem {
    width: 1fr;
    padding: 1vw;
    border-bottom-style: dashed;
}

.gridPair {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1vh;
}

.gridPair .gridItem {
    margin-bottom: 1vh;
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.title p {
    margin-top: 4%;
}

.adSpot {
    width: 100%;
    align-content: center;
    border-bottom-style: none;
}
/*------------------------------------------------------------------------------------------*/


/*CONTACT*/
.contact {
    grid-template-columns: 1fr;
}

.gridItem img {
    width: 4vw;
}

.invert {
    filter: invert(100%);
}

.contactBox a {
    background-color: var(--blue);
    color: --black;
    text-decoration: none;
    box-shadow: 5px 5px black;
    padding: 0.5em 1em 0.5em 0.5em;
}

.contactBox a:hover {
    background-color: var(--green);
    color: white;
    transition: 0.5s ease all;
}
/*------------------------------------------------------------------------------------------*/


/*PROJECTS*/
.projContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projEnd {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2vh;
    text-align: center;
}

.projContainer .gridItem {
    border-bottom-color: var(--black);
}

.tabBox {
    margin-top: 2vh;
}

.tabBox button {
    font-size: 2vw;
    font-weight: bold;
    background-color: var(--doc);
    cursor: pointer;
    border-style: none;
    border-radius: 0.5vh 0.5vh 0 0;
    padding: 1% 4%;
    color: var(--black);
    transition: 0.3s;
}

.tabBox button:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
}

.project {
    border-top: none;
    background-color: var(--doc);
    border-radius: 0 1em 1em 1em;
    margin-bottom: 1vw;
    padding-bottom: 2vh;
}

.tab {
    box-shadow: inset 0 -2px var(--docshadow);
}

.activeP {
    box-shadow: none;
}

#SummatePDF {
    width: 100vh;
    height: 65vh;
    padding: 2%;
}

#AIG_pdf {
    color: white;
    background-color: var(--blue);
    box-shadow: 5px 5px black;
    padding: 1vh;
    text-decoration: none;
}

.project p {
    color: var(--black);
}

.project h3 {
    color: var(--black);
}
/*------------------------------------------------------------------------------------------*/


/*DEVICE CONTROL*/
@media (max-width: 768px) {
    /*ALL*/
    a {
        font-size: 3vw;
    }

    .navbar a {
        padding: 0.5rem 1.5rem;
    }
    
    p {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 5vw;
    }
    
    h3 {
        font-size: 5vw;
    }

    .contentBox {
        margin: 1%;
        width: 1fr;
        height: auto;
    }

    /*CONTACTS*/
    .contactBox a {
        font-size: 3vw;
    }

    /*PROJECTS*/
    .tabBox button {
        font-size: 3vw;
        padding: 1% 6%;
    }
    
    .projContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }

    #SummatePDF {
        width: 100%;
        height: 600px;
    }
    
    .container {
        grid-template-columns: 1fr 1fr;
    }
    
    .adSpot {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 1400px) {
    /*ALL*/
    a {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 1.8em;
    }

    /*PROJECTS*/
    .tabBox button {
        font-size: 1.5em;
    }
}